.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
terraform.tfvars.json
.DS_Store
*.swp
*.swo
*~
